*.iml
.idea/
*.ipr
*.iws
.DS_Store
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
vendor/
composer.json
composer.lock
tests/php
SQLSample.sql
