<?xml version="1.0" ?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Functional Tests">
            <directory suffix="Test.php">./testsuites/functional</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory suffix="Test.php">./testsuites/integration</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./testsuites/unit</directory>
        </testsuite>
        <testsuite name="Web Tests">
            <directory suffix="Test.php">./testsuites/web</directory>
        </testsuite>
    </testsuites>
</phpunit>